*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --bg: #f4f4f4;
    --white: #fff;
    --black: #333;
    --blue: #007bff;
    --blue-dark: #0056b3;
    --gold: darkgoldenrod;
    --gold-dark: rgb(120, 88, 6);
    --grey: #ccc;


    --primary: var(--blue);
    --secondary: var(--gold);
    --success: green;
    --error: red;
    --warning: yellow;

    --border: 1px solid #ccc;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-primary {
    background-color: var(--primary);
}
.bg-primary:hover {
    background-color: var(--blue-dark);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-secondary:hover {
    background-color: var(--gold-dark);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    margin: 1rem;
    padding: 0;
}

header h1 {
    text-align: center;
    color: var(--black);
}

nav {
    background-color: var(--white);
    border-radius: .4rem;
    box-shadow: var(--shadow);
    padding: 1rem .6rem;
}

nav > div {
    padding-inline: 1rem;
    padding-block: .6rem;
}

nav > div > div:last-of-type {
    padding-block: .8rem;
}
nav .search-box {
    display: flex;
    height: 5rem;
}
nav .search-box > button {
    width: 50%;
    border-top-left-radius: 0px;
    border-end-start-radius: 0px;
    margin-inline-start: 0;
    height: auto;
}
nav .search-box > input {
    margin-inline-end: 0;
    border-top-right-radius: 0px;
    border-end-end-radius: 0px;
    outline: none;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

main {
    margin-top: .8rem;
    padding: .8rem;
    background-color: var(--white);
    border-radius: .4rem;
    box-shadow: var(--shadow);
}
.main-head {
    display: flex;
    justify-content: space-between;
}


#error {
    color: var(--error);
    text-align: center;
    padding: .6rem;
}

.btn-group {
    display: flex;
    gap:1rem;
}

.btn {
    color: var(--white);
    height: 2.4rem;
    cursor: pointer;
}

select,
input[type="text"],
.btn {
    width: 100%;
    padding: .4rem;
    margin-bottom: .3rem;
    border: var(--border);
    border-radius: .4rem;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}

#rame {
    display: block;
    margin: 20px auto;
    border: var(--border);
    border-radius: 5px;

}

iframe {
    height: 100vh;
    width: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border: var(--border);
    border-radius: .4rem;
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card div {
    padding: 1rem;
}

.card a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}